.container {
	display: flex;
	gap: 20px;
}

.SwitchButton {
	background: none;
	border: none;
	outline: none;
	font-size: 2rem;
	cursor: pointer;
	padding: 0.5rem;
}

.darkModeIcon {
	color: #52c234;
	transition: all 0.3s;

	&:hover {
		color: #3af207;
	}
}

.languageSelector {
	cursor: pointer;
	background: var(--backgroundPage);
	color: var(--textColor);
	font-weight: bold;
	outline: none;
	border: none;
	font-size: 1rem;
}

.languageSelector option {
	color: #52c234;
	font-weight: bold;
}
