@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	font-size: 10px;
	overflow-x: hidden !important;
	background-color: #232b2b;
}

a {
	text-decoration: none;
	color: var(--textColor);
	cursor: pointer;
}

