.header,
.headerActive {
	display: flex;
	justify-content: space-between;
	padding: 0.8rem 2rem;
	position: sticky;
	top: 0;
	background: #232b2b;
	z-index: 100;
	transition: all 0.4s ease-in-out;
}

.headerActive {
	box-shadow: rgba(212, 211, 211, 0.962) 0px 3px 5px;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	font-size: 1.8rem;
	color: white;
	font-weight: bold;
	height: 100vh;
	width: 100vw;
	background: white;
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(100%);
	opacity: 0;
	transition: all 0.5s ease-in-out, opacity 0.3s ease;
	list-style-type: none;
}

.menuActive {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	font-size: 1.8rem;
	color: white;
	font-weight: bold;
	height: 100vh;
	width: 100vw;
	background: var(--main);
	position: absolute;
	left: 0;
	top: 0;
	list-style-type: none;
	transform: translateX(0);
	opacity: 1;
	transition: all 0.5s ease-in-out, opacity 0.3s ease;
}
@media only screen and (min-width: 1000px) {
	.menu {
		position: unset;
		background: inherit;
		color: var(--textColor);
		list-style: none;
		flex-direction: row;
		height: inherit;
		width: max-content;
		gap: 5rem;
		font-size: 1.4rem;
		font-weight: normal;
		align-items: center;
		opacity: 1;
		transform: translateX(0);
	}

	.menuLink {
		position: relative;
		cursor: pointer;
	}

	.menuLink::after {
		content: "";
		width: 0%;
		height: 0.2rem;
		background: var(--main);
		position: absolute;
		bottom: -0.2rem;
		left: 0;
		border-radius: 2rem;
		transition: all 0.3s ease-in-out;
	}

	.menuLink:hover::after {
		width: 100%;
	}

	.menuLink:last-child {
		background: var(--main);
		padding: 0.5rem 1.5rem;
		border-radius: 1rem;
	}

	.menuLink:last-child a {
		color: rgb(255, 255, 255);
	}

	.menuLink:last-child::after {
		display: none;
	}
}
