.footer {
	font-size: 0.8rem;
	text-align: center;
	padding: 1rem;
	background: var(--footerColor);
	color: var(--textLightColor);
	margin-top: 1rem;
}

.myname {
	color: #52c234;
	font-weight: bold;
}

/* MEDIA */

@media only screen and (min-width: 1500px) {
	.footer {
		font-size: 1.1rem;
	}
}
